{{ block "users" .}}
<div class="data-content-panel">
  <div class="content">
    <div class="info-block">
      <h3>Users</h3> 
      <hr>
      <div class="info info-users">
        <h4>Username</h4>
        <ul>
          <li>
            <span><b>Id</b> userId</span> 
          </li>
          <li>
            <span><b>Email</b> example@mail.com</span>
          </li>
          <li>
            <span><b>Permission</b> user</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{ end }}
