.left-panel {
  display: flex;
  float: left;
  width: 25%;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #e2d7d7;
  border-radius: 2px;
  margin: 2%;
  margin-top: 0;
}

.left-panel-button {
  list-style: none;
  width: 100%;
  padding: 0 4% 0 4%;
  margin: 2%;
}

.btns-left-panel {
  margin: 10px 0 10px 0;
}

.btns-left-panel .btn-left-panel {
  color: #24292e;
  background-color: #eff3f6;
  border-color: rgba(27,31,35,0.2);
  width: 100%;
}

.btns-left-panel .btn-left-panel:hover {
  background-color: rgba(27,31,35,0.2);
}

.content-panel {
  display: flex;
  float: left;
  width: 70%;
  margin: 2px;
}

.data-content-panel {
  width: 100%;
}

.data-nav-content-panel {
  width: 100%;
}

.btns-nav .btn-nav {
  font-size: 12px;
  font-weight: 500;
  color: gray;
  background: #f6f8fa;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent;
}

.btns-nav .btn-nav:hover {
  border-color: #ab9d9d;
  background: #f6f9fa;
  border-radius: 0;
  color: #000
}

.info {
  background: #fff;
  display: inline-block;
  margin: 1%;
  border: 1px solid #e2d7d7;
  width: 45%;
  height: 100px;
}

.info h4 {
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
}

.info ul {
  list-style: none;
  padding-left: 3%;
  margin-top: 1%;
  font-size: 10px;
}
