* {
 box-sizing: border-box;
}

body {
  min-width: 1012px;
  word-wrap: break-word;
  overflow-wrap: break-word;

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;

  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}

ul, ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #0366d6;
  text-decoration: none;
}

form {
  display: block;
  margin-top: 0em;
}

div {
  display: block;
}

input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
}

textarea {
  overflow: auto;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}


input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, input, select, textarea {
  font: inherit;
  margin: 0;
}

button, input, select, textarea {
  font: inherit;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

.position-relative {
  position: relative !important;
}

.Header {
  height: 60px;
  z-index: 32;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #f6f9f2;
  background-color: #211324;
}

.f5 {
  font-size: 14px !important;
}

.d-flex {
  display: flex !important;
}

.px-2 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.px-3 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.flex-justify-between {
  justify-content: space-between !important;
}

.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

.flex-auto {
  flex: 1 1 auto !important;
}

.list-style-none {
  list-style: none !important;
}

.text-bold {
  font-weight: 600 !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.flex-items-center {
  align-items: center !important;
}

.HeaderNavlink {
  display: block;
  color: #fff;
}

.con-px-1 {
	padding-top: 7px;
	padding-bottom: 6px;
}

.con-link-1 {
	font-size: 18px;
}

.con-bb-1 {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #eaecef;
}

.con-bb-2 {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #d1d5da;
}

.con-bt-1 {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #eaecef;
}

.con-info-index-panel {
	min-width: 1028px;
	display: block;
}

.con-pl-3 {
	padding-left: 14px !important;
}

.con-pl-4 {
  padding-left: 24px !important;
}

.con-content-panel {
	display: block;
	min-width: 1028px;
}

.con-post-block {
  border: 1px solid #d1d5da;
  border-radius: 5px;
  margin-top: 5px;
  min-height: 60px;
}

.f6 {
  font-size: 12px !important;
}

.pt-6 {
  padding-top: 40px !important;
}

.pb-2 {
  padding-bottom: 8px !important;
}

.mt-6 {
  margin-top: 40px !important;
}

.con-mt-6 {
  margin-top: 30px !important;
}

.mr-3 {
  margin-right: 16px !important;
}

.con-ml-3 {
  margin-left: 16px !important;
}

.text-gray {
  color: #586069 !important;
}

.footer {
  min-width: 1028px;
  height: 80px;
}

.file-editor-textarea {
  width: 100%;
  padding: 5px 4px;
  font: 12px "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  resize: vertical;
  border: 0;
  border-radius: 0;
  outline: none;
}

.form-control, .form-select {
  min-height: 34px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

.input-block {
  display: block;
  width: 100%;
}

.input-contrast {
  background-color: #fafbfc;
}

@media (min-width: 768px)
.form-control, .form-select {
  font-size: 14px;
}

.con-post {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-preview.show-code .commit-create, .container-preview.show-code .file-actions {
  display: block;
}

.post-elements {
 padding-top: 10px;
}

.con-pt-1 {
  padding-top: 10px;
}

.post-end {
  padding-bottom: 10px;
}

.con-light.TextMirror {
  background: #fff;
  color: #24292e;
  position: relative;
  overflow: hidden;
  font-family: monospace;
  direction: ltr;
}

.float-left {
  float: left !important;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
   white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 5px;
  margin: 10px;
}

.btn {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.postTitle {
  color: #24292e;
}

.postTitle:hover {
  color: #0366d6;
}

.botton-block {
  display: inline-block !important;
  float: right !important;
  margin-left: 8px !important;
  margin-bottom: 8px !important;
  margin-right: 2%;
}

.botton-box {
  padding: 3px 10px;
}

.post-link {
  word-break: break-all !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  line-height: 1.25 !important;
  font-size: 16px !important;
}

.post-all-content {
  padding-top: 10px;
  padding-bottom: 10px;
}
