{{ $data := . }}
{{ template "header" $data }}
  <title>Admin Panel (ConCalc)</title>
</head>

<body>

<div class="content">
  <div class="container">
    <h1>Admin Panel</h1>
    <hr>
      <div class="left-panel">
        <ul class="left-panel-button">
          <li class="btns-left-panel">
            <a class="btn btn-left-panel" href="/admin" title="Information panel">Information panel</a> 
          </li>
          <li class="btns-left-panel">
            <a class="btn btn-left-panel" href="/admin/users" title="Users">Users</a> 
          </li>
        </ul>
      </div>

      <div class="content-panel">
      {{ if $data.Pages.InfoServer }}
        {{ template "infoserver" .}}
      {{ end }}
      {{ if $data.Pages.Users }}
        {{ template "users" .}}
      {{ end }}

      </div>
  </div>
</div>

