{{ $data := . }}
{{ template "header" $data }}

<div class="index flex-justify-between px-3 container-lg con-px-i">
  <div class="con-info-index-panel con-pl-3 con-bb-2 position-relative">
    <h1>Admin Panel</h1>
  </div>
  <div class="container-lg">

    <div class="admin-menu">
      <ul class="list-style-none flex-wrap con-ml-3 f6 date">
        <li class="mr-3 admin-btm">
          <a href="/admin"><button type="botton" class="btn botton-box width-full">Information panel</button></a> 
        </li>
        <li class="mr-3 admin-btm">
          <a href="/admin"><button type="botton" class="btn botton-box width-full">Users</button></a> 
        </li>
      </ul>
    </div>

    <div class="admin-content">

      {{ template "infoserver" .}}

    </div>
  </div>
</div>

