  <div class="position-relative js-header-wrapper">
    <header class="Header f5" role="banner">
      <div class="d-flex flex-justify-between px-3 container-lg con-px-1">
        <div class="HeaderMenu d-flex flex-justify-between flex-auto">
          <div class="d-flex">
            <ul class="d-flex pl-2 flex-items-center text-bold list-style-none">
							<li>
								<a class="js-selected-navigation-item HeaderNavlink px-2 con-link-1" href="/">Main Page</a>
							</li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
<div class="index flex-justify-between px-3 container-lg con-px-i">
  <div class="con-info-index-panel con-pl-3 con-bb-2 position-relative">
    <h1>Error</h1>
  </div>
  <div class="con-content-panel con-pl-3 position-relative">
    <p>{{ . }}</p>
  </div>
</div>

