{{ define "header"}}
{{ $data := . }}
  <header class="panel">
    <div class="main-header container">
      <ul class="menu-block">
        <li><a class="btn" href="/" title="Main Page">Main Page</a></li>
        {{ if $data.UserData.Id }}
        <li><a class="btn" href="/write" title="Write Post">Write Post</a></li>
        {{ end }}
        {{ if $data.UserData.Permission | checkGroup }}
        <li><a class="btn" href="/admin" title="Admin Panel">Admin Panel</a></li>
        {{ end }}
      </ul>
      <ul class="login-block ">
      {{ if $data.UserData.Id }}
      <li><a class="btn" href="/" title="{{$data.UserData.Username}}">{{$data.UserData.Username}}</a></li>
      <li><a class="btn" href="/exit" title="Log Out">Log Out</a></li>
      {{ else }}
      <li><a class="btn" href="/login" title="Login">Log in</a></li>
      <li><a class="btn" href="/register" title="Register">Register</a></li>
      {{ end }}
      </ul>
    </div>
  </header>
{{ end }}
