{{ $data := . }}
{{ template "header" $data }}
  <div class="content">
    <div class="container">

      <div class="">
        <h1>Main Page</h1>
        <hr>
      </div>

      {{ range $value := $data.DataPosts }}

    	<div class="post-block">
        <div class="post shadow">
          <div class="subject">
            <a href="/readPost/{{ $value.Id }}" title="{{$value.Title}}" class="post-link postTitle">
              <h2>{{ $value.Title }}</h2>
            </a>
            <div class="btn-block">
              {{ if $data.UserData.Id }}
              <a class="btn btn-post" title="Edit Post" href="/editPost/{{$value.Id}}">Edit Post</a>
              <a class="btn btn-post" title="Delete Post" href="/deletePost/{{ $value.Id }}">Delete Post</a>
              {{ end }}
            </div>
          </div>
          <ul class="post-info">
            <li class="post-owner">
              <span class="text-gray">{{$value.Owner}}</span>
            </li>
            <li class="post-date">
              <span class="text-gray">{{$value.Time.Month}} {{$value.Time.Day}}</span> 
            </li>
          </ul>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
