{{ $data := . }}
{{ template "header" $data }}

<div class="index flex-justify-between px-3 container-lg con-px-i">
  <div class="con-info-index-panel con-pl-3 con-bb-2 position-relative">
    <h1>Main Page</h1>
  </div>
{{ range $value := $data.DataPosts }}
	<div class="con-content-panel con-pl-3 position-relative">
    <div class="con-post-block con-pl-3">
      <div class="post-all-content">
        <a href="/readPost/{{ $value.Id }}" class="post-link postTitle">{{ $value.Title }}</a>
        <div class="botton-block">
          {{ if $data.UserData.Id }}
          <a href="/editPost/{{ $value.Id }}"><button type="botton" class="btn botton-box">Edit Post</button></a>
          <a href="/deletePost/{{ $value.Id }}"><button type="botton" class="btn botton-box">Delete Post</button></a>
          {{ end }}
        </div>
      <ul class="list-style-none d-flex flex-wrap con-ml-3 f6 date">
        <li class="mr-3">
          <span class="text-gray">{{$value.Owner}}</span>
        </li>
        <li class="mr-3">
          <span class="text-gray">{{$value.Time.Month}} {{$value.Time.Day}}</span> 
        </li>
      </ul>
      </div>
    </div>
	</div>
  {{ end }}
</div> 
