<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>CONOSW</title>
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
 <link href="../assets/css/normalize.css" rel="stylesheet">
 <link href="../assets/css/main.css" rel="stylesheet">
 
 <!--<link href="/assets/css/style.css" rel="stylesheet"> -->
</head>
<body>

  {{ yield }}

 <div class="panel footer">
    <div class="container main-footer">
      <ul class="about">
        <li>
          <span>© 2018 Connor41</span> 
        </li>
        <li>
          <a class="btn" target="_blank" href="https://github.com/ya-alexandr-86">Front-End by Alex Ya</a>
        </li>
        <li>
          <a class="btn" target="_blank" href="https://github.com/connor41/blog">GitHub</a> 
        </li>
        <li>
          <a class="btn" target="_blank" href="https://gitlab.com/connor41/blog">GitLab</a>
        </li>
      </ul>  
    </div>    
  </div>

</body>
</html>

