<div class="index flex-justify-between px-3 container-lg con-px-i">
  <div class="con-info-index-panel con-pl-3 con-bb-2 position-relative">
    <h1>Log In</h1>
  </div>
	<div class="con-content-panel con-pl-3 position-relative">
    <form class="post-form con-post" role="form" action="/login" accept-charset="UTF-8" method="POST">
      <div class="login-block">
        <input type="text" id="username" class="form-control input-block input-contrast user-data" maxlength="30" name="username" aria-label="Username" placeholder="User Name..." autocomplete="on" required>
      </div>
      <div class="pass-block">
        <input type="password" id="password" class="form-control input-block input-contrast user-data" name="password" aria-label="Password" placeholder="Your Password..." autocomplete="on" required>
      </div>
      <div class="post-elements post-end">
        <button type="submit" class="btn float-left">Log In</button>
      </div>
    <form>
	</div>
</div>
