{{ define "read" }}

{{ template "header" }}


<div class="index flex-justify-between px-3 container-lg con-px-i">
  <div class="con-info-index-panel con-pl-3 con-bb-2 position-relative">
    <h1>{{.Title}}</h1>
  </div>
  <div class="con-content-panel con-pl-3 position-relative">
    <p>{{.Text}}</p>
        <div class="botton-block">
          <a href="/editPost?id={{.Id}}"><button type="botton" class="btn botton-box">Edit Post</button></a>
          <a href="/deletePost?id={{.Id}}"><button type="botton" class="btn botton-box">Delete Post</button></a>
        </div>
  </div>
</div>

{{ template "footer" }}

{{ end }}
